<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <legend>
    <% if @post.id %>
      <%= "编辑任务" %>
      <% else %>
      <%= "添加任务" %>
    <% end %>
  </legend>
    <%= f.label "任务名" %>
    <%= f.text_field :title , placeholder:"输入任务名称" %>
    <br>
    <%= f.label "详细描述" %>
    <%= f.text_area :text , rows:"5", placeholder:"要做什么呢"%>
    <br>
    <%= f.select :task_type, [["新计划","task"],["新需求","request"]] %>
    <br><br>
    <%= f.submit "提交任务", class: "btn"%> | <%= link_to '返回', root_path %>
<% end %>
 
