<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <legend>
    <% if @post.id %>
      <%= "Edit" %>
      <% else %>
      <%= "Add new" %>
    <% end %> 
    schedule
  </legend>
    <%= f.label "New Task" %>
    <%= f.text_field :title , placeholder:"Type new task" %>
    <br>
    <%= f.label "Detail" %>
    <%= f.text_area :text , rows:"5", placeholder:"I will do..."%>
    <br>
    <%= f.submit class: "btn"%> | <%= link_to 'back', root_path %>
<% end %>
 
